<footer class="main-footer">
    <nav class="main-footer__nav">
        <ul class="main-footer__item-list">
            <li class="main-footer__item"><a href="/contact-us">Contact Us</a></li>
        </ul>
    </nav>
</footer>